@media screen and (width < 1200px) {
  html {
    font-size: 58.5%;
  }
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width < 900px) {
  .latest-news {
    & p {
      max-width: 75%;
    }
  }
  .list-container {
    display: none;
  }
  .search-container {
    width: 65%;
  }
}

@media screen and (width < 748px) {
  main {
    grid-template-columns: repeat(1, 1fr);
  }
  html {
    font-size: 55.5%;
  }
}

@media screen and (width < 648px) {
  html {
    font-size: 52.5%;
  }
  .latest-news {
    & p {
      max-width: 100%;
    }
  }
  .cover-banner {
    height: 35vh;
  }
}

@media screen and (width < 548px) {
  .search-container {
    display: none;
  }
  .cover-banner {
    height: 30vh;
  }
}

@media screen and (width < 368px) {
  .latest-news {
    margin: 3rem;

    & h1 {
      font-size: 3rem;
    }
  }
  .cover-banner {
    height: 20vh;
  }
  .pageNumbers {
    & a {
      font-size: 2.2rem;
      width: 37px;
      height: 37px;
    }
  }
}
